{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/estilsEquips.css") }}">
{% endblock %}
{% block title %}Equips{% endblock %}
{% block body %}
    <h1 id="titolEquip">Fitxa de contacte</h1>
    {% if equip %}
        <p class="paragrafEquip">
            <img src="{{ asset("imgs/ok.jpg") }}" alt="Ok" class="imatgeEquip"><br>
            Projecte 2n DAW Symfony
        </p>
        <ul class="dadesEquip">
            <li><strong>{{ equip.nom }}</strong></li>
            <li><strong>Curs</strong>: {{ equip.curs }}</li>
            <li><strong>Membres</strong>:
                <ul class="llistaInterna">
                    {% for membre in equip.membres %}
                        <li>{{ membre }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% else %}
        <p class="paragrafEquip">
            <img src="{{ asset("imgs/no_ok.jpg") }}" alt="No ok" class="imatgeEquip"><br>
            Equip no trobat.
        </p>
    {% endif %}
    <p class="paragrafEquip">
        <a class="enmarcat" href="{{ path("inici") }}"><img class="icona" src="{{ asset("imgs/enrere.png") }}" alt="enrere"> Torna a l'inici</a>
    </p>
{% endblock %}