{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/estilsEquips.css") }}">
{% endblock %}
{% block title %}Equips{% endblock %}
{% block body %}
    {% if success %}
        <h1 id="titolEquip">Equips inserits correctament</h1>
        <p class="paragrafEquip">
            <img src="{{ asset('imgs/ok.jpg') }}" alt="imatge ok">
        </p>
        <div class="dadesMultiplesEquips">
            {% for equip in equips %}
                <ul>
                    <li><b>Id:</b> {{ equip.id }}</li>
                    <li><b>Nom:</b> {{ equip.nom }}</li>
                    <li><b>Cicle:</b> {{ equip.cicle }}</li>
                    <li><b>Curs:</b> {{ equip.curs }}</li>
                    <li><b>Nota:</b> {{ equip.nota }}</li>
                    <li><b>Imatge:</b><br>
                        <img class="imatgeEquip" src="{{ asset('imgs/' ~ equip.imatge) }}" alt="equip image">
                    </li>
                </ul>
            {% endfor %}
        </div>
        <p class="paragrafEquip"><a href="{{ path('inici') }}">Torna al inici</a></p>
    {% else %}
        <h1 id="titolEquip">Error inserint equips</h1>
        <p class="paragrafEquip">
            <img src="{{ asset('imgs/no_ok.jpg') }}" alt="equip image">
            <span class="blocError">
                {{ error }}
            </span>
        </p>
        <p class="paragrafEquip"><a href="{{ path('inici') }}">Torna al inici</a></p>
    {% endif %}
{% endblock %}